* {
    box-sizing: border-box;
}

body {
    background-color: #c9d2fc;
}

.cat-head {
    width: 206px;
    height: 180px;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
    border-radius: 46%;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.oreja-left {
    position: absolute;
    top: -26px;
    left: -31px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    transform: rotate(-45deg);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
}



.oreja-right {
    position: absolute;
    top: -29px;
    left: 160px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    transform: rotate(45deg);
}

.oreja-interior-left {
    position: absolute;
    top: 24px;
    left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 37px solid #3b3b4f;
    border-top-left-radius:  65px;
    border-top-right-radius: 65px;
    transform: rotate(1deg);
}

.oreja-interior-right {
    position: absolute;
    top: 24px;
    left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 37px solid #3b3b4f;
    border-top-left-radius:  65px;
    border-top-right-radius: 65px;
    transform: rotate(1deg);
}

.eyes-left {
    width: 30px;
    height: 40px;
    background-color: #000;
    position: absolute;
    border-radius: 60%;
    top: 55px;
    left: 40px;
    transform: rotate(15deg);
}

.eyes-right {
    width: 30px;
    height: 40px;
    background-color: #000;
    position: absolute;
    border-radius: 60%;
    top: 55px;
    left: 135px;
    transform: rotate(-15deg);
}

.eyes-left-inter {
    width: 10px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute; 
    top: 6px;
    left: 3px;
    transform: rotate(8deg);
}

.eyes-right-inter {
    width: 10px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute; 
    top: 6px;
    left: 17px;
    transform: rotate(-8deg);
}

.nose {
    position: absolute;
    top: 109px;
    left: 85px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 22px solid #442c2c;
    transform: rotate(180deg);
    border-radius: 60%;
}

.mouth-left {
    position: absolute;
    top: 95px;
    left: 82px;
    width: 24px;
    height: 48px;
    background-color: 1px solid #5e5e5e;
    border: 2px solid black;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 65%;
    transform: rotate(-5deg);
}

.mouth-right {
    position: absolute;
    top: 102px;
    left: 101px;
    width: 24px;
    height: 40px;
    background-color: 1px solid #5e5e5e;
    border: 2px solid black;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 65%;
    transform: rotate(-8deg);
}

.bigotes-left-top {
    width: 45px;
    height: 2px;
    border-bottom: 1px solid rgb(7, 5, 5);
    position: absolute;
    top: 122px;
    left: 50px;
    transform: rotate(10deg);
}

.bigotes-left-middle {
    width: 45px;
    height: 2px;
    border-bottom: 1px solid rgb(7, 5, 5);
    position: absolute;
    top: 130px;
    left: 50px;
    transform: rotate(1deg);
}

.bigotes-left-bottom {
    width: 45px;
    height: 2px;
    border-bottom: 1px solid rgb(7, 5, 5);
    position: absolute;
    top: 137px;
    left: 50px;
    transform: rotate(-6deg);
}

.bigotes-right-top {
    width: 42px;
    height: 2px;
    border-bottom: 1px solid rgb(7, 5, 5);
    position: absolute;
    top: 122px;
    left: 110px;
    transform: rotate(-8deg);
}

.bigotes-right-middle {
    width: 42px;
    height: 2px;
    border-bottom: 1px solid rgb(7, 5, 5);
    position: absolute;
    top: 129px;
    left: 113px;
    transform: rotate(-1deg);
}

.bigotes-right-bottom {
    width: 42px;
    height: 2px;
    border-bottom: 1px solid rgb(7, 5, 5);
    position: absolute;
    top: 135px;
    left: 113px;
    transform: rotate(4deg);
}
