@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

body {
    margin: 0;
    background-color: rgb(246, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1b32;
    height: 120vh;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #1b1b32;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    color: rgba(226, 178, 48, 0.925);
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100
}



.logo {
    width: 100%;
    height: 30px;
    background-color: #0a0a23;
    width: max(180px, 10vw);
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
    margin-top: -5px;
}

h1 {
    font-size: min(5vw, 1em);
    text-align: center;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }

  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }

  main {
    padding-top: 25px;
  }

a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


 header a {
    text-decoration: none;
    color: #dfdfe2;
}

section {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
}

.section-1 input{
    width: 70%;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
    height: 1em;
    max-width: 300px;
    font-size: 15px;
}

.section-1 label {
    display: flex;
    position: relative;
}

input[type="email"] {
    margin-left: 14px
}

section {
    margin-top: 70px;
}

h2 {
    font-size: 25px;
}

.divider {
    border-bottom: 2px solid rgb(174, 173, 173);
    position: relative;
    top: -22px;
    width: 100%;
    margin-bottom: 10px;
}

label {
    text-indent: 1rem;
    font-size: 0.9rem;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

.over {
    font-weight: 100;
    font-size: 17px;
    text-indent: 15px;
}

fieldset {
    border: none;
}

legend {
    margin-bottom: 15px;
}

select {
    display: block;
    margin-bottom: 15px;
    margin-left: 15px;
}

textarea {
    display: block;
    margin-left: 15px;
}

button {
    width: 40%;
    margin-top: 40px;
    height: 60px;
    margin-left: 30%;
    background-color: #d0d0d5;
    border: 3px solid #3b3b4f;
    font-size: 25px;
    min-height: 10px;
    margin-bottom: 40px;
}

address{
    width: 100%;
    height: 75px;
    background-color: #2a2a40;
    text-align: center;
    color: #dfdfe2;
    padding-top: 5px;
}

.lest {
    margin-left: 15px;
}

address a:hover {
    background-color: #2a2a40;
    color: white;
}

a {
    color: white;
}


