body {
    background-color: #1b1b32;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dfdfe2;
    margin: 0;
}

h1, p {
    text-align: center;
}

input, select, textarea {
    display: block;
    margin: 10px auto;
    background-color: #0a0a2a;
    width: 100%;
    color: #dfdfe2;
    border: 0;
    font-size: 15px;

}

fieldset {
    border: 0;
    border-bottom: 1px solid #60606f;
}

form {
    padding: 40px 100px;
    width: 75%;
    margin: auto;
    max-width: 550px;
}

p {
    margin-bottom: 0;
}

.uno {
    height: 20px;
}

a {
    color: #dfdfe2;
}

input[type="submit"] {
    width: 70%;
    height: 40px;
    border:1px solid #d6d6ec;
    background-color: #272751;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

fieldset:last-of-type {
    border: 0;
}

input[type="password"] {
    margin-bottom: 35px;
}

legend {
    margin-bottom: 35px;
}

.resu {
    margin-bottom: 35px;
}

.tercero {
    margin-top: 35px;
}

.item {
   display: block;
}

