.canvas {
    width: 500px;
    height: 604px;
    background-color: rgb(61, 8, 8);
    margin: 20px auto;
    overflow: hidden;
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    margin: 15px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.one {
    width: 430px;
    height: 160px;
    background-color: rgba(217, 186, 90, 0.974);
    margin: 15px auto;
    box-shadow: 0 0 3px 3px rgba(217, 186, 90, 0.974);
    border-radius: 15px;
    transform: rotate(-0.6deg);
}

.two {
    width: 480px;
    height: 200px;
    background-color: rgb(156, 26, 26);
    margin: 0 auto 18px;
    box-shadow: 0 0 3px 3px rgb(156, 26, 26);
    border-radius: 15px 20px;
    transform: rotate(0.6deg);
}

.three {
    width: 455px;
    height: 180px;
    background-color: rgb(173, 17, 17);
    margin: auto;
    box-shadow: 0 0 5px 5px rgb(173, 17, 17);
    border-radius: 20px 25px 55px 20px;
    filter: blur(2px);
    transform: rotate(-0.4deg);
}

.one, .two {
    filter: blur(1px);
}

